---
# Include variables and define needed variables.
- name: Skip this entire role if the host is in the test group
  ansible.builtin.meta: end_role
  when: "'test' in group_names"
  
- name: Include OS-specific variables.
  ansible.builtin.include_vars: "{{ ansible_facts['os_family'] }}.yml"

- name: Include tasks to setup
  ansible.builtin.include_tasks: setup.yml

# Only perform (expensive) file reads and merging if not replacing.
- name: Block to handle merging of export stanzas.
  when: not nfs_replace
  block:
  - name: Read current entries in exports file (should it exist)
    ansible.builtin.slurp:
      src: /etc/exports
    register: exports_file
    ignore_errors: yes # in case the file does not exist

  - name: Set fact for current exports
    ansible.builtin.set_fact:
      exports_content: "{{ (exports_file['content'] | b64decode | split('\n')) | default([]) }}"

  - name: Filter out comments and blank lines from current exports
    ansible.builtin.set_fact:
      current_exports: "{{ exports_content | reject('match', '^\\s*#') | reject('match', '^\\s*$') }}"
  # END BLOCK

- name: Merge current exports with desired exports, leaving only unique entries
  ansible.builtin.set_fact:
    merged_exports: "{{ (current_exports | default([]) + (nfs_exports | default([]))) | unique }}"

- name: Display NFS exports information
  ansible.builtin.debug:
    msg:
      - "Current Exports: {{ current_exports | default('No current exports or REPLACE specified') }}"
      - "Merged Exports: {{ merged_exports }}"

- name: Ensure directories to export exist
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: root
    group: root
    mode: '0777'
  with_items: "{{ merged_exports | map('split') | map('first') | unique }}"

- name: Copy exports file.
  ansible.builtin.template:
    src: exports.j2
    dest: /etc/exports
    owner: root
    group: root
    mode: 0644
  notify: reload nfs

- name: Ensure nfs is running
  ansible.builtin.systemd_service:
    name: "{{ nfs_server_daemon }}"
    state: restarted
    enabled: yes
  when: merged_exports|length > 0
