---
# Include variables and define needed variables.
- name: Include OS-specific variables.
  ansible.builtin.include_vars: "{{ ansible_os_family }}.yml"

- name: Include tasks to setup
  ansible.builtin.include_tasks: setup.yml

- name: Ensure directories to export exist
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: root
    group: root
    mode: '0644'
  with_items: "{{ nfs_exports | map('split') | map('first') | unique }}"

- name: Copy exports file.
  ansible.builtin.template:
    src: exports.j2
    dest: /etc/exports
    owner: root
    group: root
    mode: 0644
  notify: reload nfs

# - name: Ensure nfs is running.
# Change to systemd
#   service: "name={{ nfs_server_daemon }} state=started enabled=yes"
#   when: nfs_exports|length > 0
